<!-- templates/home.html -->
<h1>Django Image Uploading</h1>
<ul>
  {% for image in object_list %}
    <h2>{{ image.title }}</h2>
    <img src="{{ image.cover.url}}" alt="{{ image.title }}">
  {% endfor %}
</ul>