<!-- templates/home.html -->
<h1>Django Image Download</h1>
<ul>
  
  {% for image in objects %}
    <h2>{{ image.title }}</h2>
    <img src="{{ image.cover.url}}" alt="{{ image.title }}">
    <a href="{{image.cover.url}}">Download this image!</a>
  {% endfor %}
</ul>